# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
venv/
env/
.env

# Jupyter
.ipynb_checkpoints/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Documents proteges
*.pdf

# Modeles (trop lourds pour GitHub)
models/
*.safetensors
*.bin
*.pt
*.ckpt

# Donnees generees
data/online_learning_results.json
data/online_learning_curve.png

# Flask
static/__pycache__/

# IDE
.vscode/settings.json
.idea/